@model GlobalTask
@{
    ViewData["Title"] = "Создание задачи";
}


<h2 class="">Добавление задачи</h2>

<form asp-action="CreateTask" asp-controller="Admin" autocomplete="off">
    <div class="mb-3">
        <label class="form-label" asp-for="TaskName">Задача</label><br />
        <input class="form-control w-25" type="text" asp-for="TaskName" />
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Добавить" />
    </p>
</form>