@using TodoApp.Models
@{
    ViewData["Title"] = "Tasks";
}


<div class="mb-3">
    <label for="loginInput" class="form-label">Логин</label>
    <input type="email" class="form-control" id="loginInput">
</div>
<div class="mb-3">
    <label for="passwordInput" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="passwordInput">
</div>
<div class="mb-3 d-grid gap-2">
    <button class="btn btn-primary" type="button" id="logBtn">Добавить задачу</button>
</div>