@{
    ViewData["Title"] = "Authorization";
}

<div class="row">
    <div class="col">
        <img width="500" src="https://sun9-22.userapi.com/impg/VICE8qSUnYFHl7QWvkk16ZQGGhGDbCW4P11QMg/LL7HxjWwBMA.jpg?size=852x1080&quality=96&sign=8b38dd144cf61e21782881ed881f5a63&type=album" />
    </div>
    <div class="col m-auto">
        <div class="mb-3">
            <label for="loginInput" class="form-label">Логин</label>
            <input type="email" class="form-control" id="loginInput">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <div id="labErr" class="mb-3 form-label visually-hidden">
            <label>Неверно введены данные</label>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary" type="button" id="logBtn">Авторизироваться</button>
        </div>        
    </div>
</div>

