@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img src="https://sun9-19.userapi.com/impg/UB8Ox2Wd-4AGbnzYpGd3e9Nhv_TINxuzE2ILFQ/6g2uVSzR-94.jpg?size=450x604&quality=96&sign=2a79f0b2a23dea0aee3db6178567b819&type=album" />
    <img src="https://sun9-5.userapi.com/impf/pCPRQDTp4tWcq709hDJkh9_0Z6QODtlmDP5Y-A/Vk5gvsNnCnk.jpg?size=604x453&quality=96&sign=05a72a71d8b079a4e5016aeb8e419c04&type=album" />

</div>

