@using TodoApp.Models
@model List<TodoTask>
@{
    ViewData["Title"] = "Tasks";
}

<table class="table">
    <tr><td>Id</td><td>Задача</td><td>Завершена?</td></tr>
    @foreach (TodoTask task in Model)
    {
        <tr>
            <td>@task.Id</td>
            <td>@task.TaskName</td>
            <td><input class="form-check-input text-center" disabled type="checkbox" checked="@task.isCompleted"/></td>
        </tr>
    }
</table>
