.simple-table {
    width: 100%;
    font-size: 1rem;
    border-spacing: 7px 5px;
    margin: 0 0 10px 0;
}

.simple-table th {
    border-bottom: 3px solid black;
    padding: 5px;
}

.simple-table td {
    padding: 10px;
    margin: 5px 0 0 0;
}

.simple-table tr:hover td {
    border-bottom: 3px solid #0D6EFD;
    background: #e1edff;
}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
}

.form_radio_group-item {
    display: inline-block;
    float: left;
    margin: 4px;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border-right: none;
    user-select: none;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    border-bottom: 2px solid #32557f;
    font-weight: bold;
}

/* Hover */
.form_radio_group label:hover {
    border-bottom: 2px solid #32557f;
}